html {
    background-color: #d3d2cf;
}

body {
    margin: 0;
    background-color: #fffdf6;
    color: #2E2E2E;
    font-family: "Libre Baskerville", serif;
    z-index: 1;
}

h1 {
    font-size: xxx-large;
}

h3 {
    font-size: x-large;
}

hr {
    width: 35vw;
}

p {
    font-size: larger !important;
}

a {
    text-decoration: underline;
    color: rgb(83, 83, 208);
}

footer {
    background-color: #d3d2cf;
    box-sizing: border-box;
    height: 200px;
    padding-left: 55px;
    padding-top: 20px;
    overflow: hidden;
    position: relative;
    bottom: 0px;
    left: 0px;
    z-index: 2;
}

#footer-logo {
    height: 105px;
}

#logo {
    height: 107px;
    width: auto;
    margin-left: 152px;
}

#navbar {
    box-sizing: border-box;
    background-color: #fffdf6 !important;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0 2px 6px #A1A1A1;
}

.navbar-collapse {
    margin-right: 10%;
}

.nav-item {
    margin-left: 30px;
}

.nav-link {
    color: #2E2E2E;
    font-family: "EB Garamond", serif;
    font-weight: 400;
    font-size: 24px;
    margin-left: -11px;
}

.nav-link:hover {
    text-decoration: underline;
}

.dropdown-menu {
    text-align: left;
    font-size: inherit;
    border: none;
    cursor: pointer;
    background-color: #fffdf6 !important;
    --bs-dropdown-link-active-bg: #f1f0eb;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.container {
    max-width: 100vw;
    margin: 0 auto;
}

.h1-title,
.content {
    margin-left: 11.29vw;
}

.spaced-content {
    max-width: 100vw;
    display: flex;
    justify-content: space-evenly;
}

.spaced-graphic {
    width: 30vw !important;
}

.spaced-text {
    max-width: 40vw;
}

.home-contents {
    margin-left: 12vw;
    width: 76vw;
}

#testimonialSlide {
    width: 59vw;
}

#testimonialSlide .carousel-inner {
    position: relative;
    width: 40vw;
    overflow: hidden;
    margin-left: 9vw;
}

.testimonial {
    background-color: rgba(217, 215, 210, 0.5);
    border: 1px solid #2E2E2E;
    width: 40vw;
    height: auto;
    padding: 52px;
}

.testimonial-person {
    text-align: right;
}
